<ion-header>
    <ion-toolbar color="secondary">      
      
    </ion-toolbar>
    
  </ion-header>
  
  

<ion-content>
    <div class="tomate">
        <h1>Bússola</h1>
    
        <ion-img class="imagem" src="/assets/bussola.png"></ion-img>
    
        <h2>Como Fazer:</h2>
        <ol>
            <li>Esfregue os imãs para magnetizá-los;</li>
            <br>
            <li>Prenda em um pedaço de cortiça fino;</li>
            <br>
            <li>Coloque em um recepiente com água;</li>
            <br>
            <li>A agulha apontará para o norte.</li>
          </ol>
        <!-- 
      <ion-list>
        <ion-item *ngFor="let entry of form">
          <ion-label>{{entry.val}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list> -->
    
        
    
        <ion-button expand="block" color="danger">📷 Registre esse momento</ion-button>
      </div>

</ion-content>
