<ion-content>

  <div class="batata">
    <div class="welcome-image" expand="block" fill="outline">
      <ion-img class="welcome-img" src="/assets/LOGO.png"></ion-img>
    </div>


    <br><br>
    <ion-input class="entrada" placeholder="Digite o email"></ion-input>
    <br>
    <ion-input class="entrada" placeholder="Digite a senha"></ion-input>
    <br><br>
    <ion-button class="botao" color="darkblue" routerLink="/begin" routerDirection="root" expand=" block">Entrar
    </ion-button>

  </div>

</ion-content>