.welcome-card welcome-image {
    max-height: 35vh;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 60px; 

  }

.entrada{
    margin-left: 45px;
    margin-top: 5px; 
}

.botao{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.batata{
    margin-top: 50px;
}
  
  