<ion-header>
  <ion-toolbar color="secondary">

  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="tomate">
    <h1>Bússola</h1>

    <ion-img class="imagem" src="/assets/bussola.png"></ion-img>

    <h2>Você vai precisar de:</h2>
    <!-- 
    <ion-list>
      <ion-item *ngFor="let a of dataPub">
        <ion-checkbox color="ketchup" mode="md"></ion-checkbox>
        <ion-label>
          {{a.materials}}
        </ion-label>
      </ion-item>
    </ion-list>
 -->

    <ion-list lines="none">
      <ion-item>
        <ion-checkbox color="ketchup" mode="md"></ion-checkbox>
        <ion-label>
          &nbsp;Pegue uma bacia de plástico e encha-a com água.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="ketchup" mode="md"></ion-checkbox>
        <ion-label>
          &nbsp;Esfregue um ímã numa agulha de aço, sempre em um mesmo sentido, para direcionar seu magnetismo.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="ketchup" mode="md"></ion-checkbox>
        <ion-label>
          &nbsp;Faça duas fendas opostas na parte lateral da tampinha plástica de uma garrafa de refrigerante.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="ketchup" mode="md"></ion-checkbox>
        <ion-label>
          &nbsp;Encaixe a agulha imantada na tampinha da garrafa de modo firme.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="ketchup" mode="md"></ion-checkbox>
        <ion-label>
          &nbsp;Coloque o dispositivo para flutuar na bacia com água e sua bússola estar
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="medium" routerLink="/tutorial" routerDirection="forward">Vamos começar?
    </ion-button>
  </div>
</ion-content>