<ion-content class="main">

  <ion-grid class="grade">

    <ion-row class="linhaz">
      <ion-col>
        <div class="botao left">
          <ion-img class="imagem" src="/assets/planets.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div class="botao right">
          <ion-img class="imagem" src="/assets/leaves.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="linhaz">
      <ion-col>
        <div class="botao left">
          <ion-img class="imagem" src="/assets/compass.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div class="botao right">
          <ion-img class="imagem" src="/assets/flask.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="linhaz">
      <ion-col>
        <div class="botao left">
          <ion-img class="imagem" src="/assets/runner.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div class="botao right">
          <ion-img class="imagem" src="/assets/blackboard.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="linhaz">
      <ion-col>
        <div class="botao left">
          <ion-img class="imagem" src="/assets/robot.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div class="botao right">
          <ion-img class="imagem" src="/assets/footprint.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>