<ion-content class="main">

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button class="botao" color="light" expand="block" fill="outline">
          <ion-img class="imagem" src="/assets/planets.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao" color="light" expand="block" fill="outline">
          <ion-img class="imagem" src="/assets/leaves.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="botao" color="light" expand="block" fill="outline">
          <ion-img class="imagem" src="/assets/compass.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao" color="light" expand="block" fill="outline">
          <ion-img class="imagem" src="/assets/flask.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="botao" color="light" expand="block" fill="outline">
          <ion-img class="imagem" src="/assets/runner.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao" color="light" expand="block" fill="outline">
          <ion-img class="imagem" src="/assets/blackboard.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="botao" color="light" expand="block" fill="outline">
          <ion-img class="imagem" src="/assets/robot.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botao" color="light" expand="block" fill="outline">
          <ion-img class="imagem" src="/assets/footprint.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>